#!/usr/bin/env ruby

require 'compass'
Compass.add_project_configuration File.expand_path('../compass_config.rb', __FILE__)

compile '/assets/*/' do
  if item[:extension] == "scss"
    filter :erb
    filter :sass, Compass.sass_engine_options
  elsif item[:extension] == "js"
    filter :erb
    filter :uglify_js
  else
    nil
  end
end

route '/assets/*/' do
  path = item.identifier.chop.gsub(/\/(css|js)\//, "/")
  if [ 'scss', 'sass' ].include? item[:extension]
    path + '.css'
  else
    path + '.' + item[:extension]
  end
end

compile '*' do
  unless item.binary?
    case item[:extension]
    when 'haml'
      filter :haml
    when 'md'
      filter :kramdown
    else
      filter :erb
    end
    layout 'default'
  end
end

route '*' do
  if item.binary?
    item.identifier.chop + '.' + item[:extension]
  else
    item.identifier + 'index.html'
  end
end

layout '*', :haml
