---
title: Validate PayPal IPN message
icon: code
kind: article
created_at: 11 June 2013
tags: ruby, paypal
---
%p 
  Using 
  %a{ :href => "https://github.com/paypal/sdk-core-ruby" } paypal-sdk-core 
  gem to validate PayPal IPN message.

:coderay
  #!ruby
  require "paypal-sdk-core"
  PayPal::SDK.configure( :mode => :sandbox )
  if PayPal::SDK::Core::API::IPN.valid?("IPN message to validate")
    print "IPN message is valid"
  end

%p To configure live mode

:coderay
  #!ruby
  PayPal::SDK.configure( :mode => :live )

%p Validate IPN message received by rails app

:coderay
  #!ruby
  ipn_message = request.raw_post  # raw post data send by PayPal IPN
  if PayPal::SDK::Core::API::IPN.valid?(ipn_message)
    print "IPN message is valid"
  end
