.social-icons {
  font-size: 2em;
  padding-top: 5px;
  a {
    color: #aaaaaa;
    text-decoration:none;
    &:hover {
      color: #333333;

      .icon-twitter {
        color: #9AE4E8;
      }
      .icon-facebook {
        color: #3B5998;
      }
    }
  }
}

body {
  overflow-y: scroll;
}

article {
  margin-bottom: 25px;
}

a.logo {
  border-left:  1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.fb-comments, .fb-like-box {
  width: 100% !important;
  iframe[style] {
    width: 100% !important;
  }
}

.fb-comments {
  span, iframe span[style] {
    width: 100% !important;
  }
}

.fb-like-box {
  span, iframe span[style] {
    width: 100% !important;
  }
}
