.social-icons {
  font-size: 2em;
  padding-top: 5px;
  a {
    color: #aaaaaa;
    text-decoration:none;
    &:hover {
      color: #333333;

      .icon-twitter {
        color: #9AE4E8;
      }
      .icon-facebook {
        color: #3B5998;
      }
    }
  }

}
