%a{:href => "https://github.com/siddick"}
  %span.icon-github
%a{:href => "https://twitter.com/siddickInside"}
  %span.icon-twitter
%a{:href => "http://www.facebook.com/siddick"}
  %span.icon-facebook
