%ul.nav.nav-list
  - tag_items.each do |name, items|
    = li_link_to("#{name}(#{items.count})", "/tags/#{name}/", :icon => :tags)

.subscribe
  %span.icon-rss-sign.icon-small
  %a{:href => relative_path_to("/feed.xml")}
    Subscribe
