.navbar.navbar-default.navbar-static-top
  .navbar-inner
    .container
      .social-icons.pull-right
        = render "badges"
      %ul.navbar-nav.nav
        %li
          %a.logo{:title => "Siddick"}
            %i.fa.fa-strikethrough.fa-lg
        = li_link_to "Home",  "/"
        = li_link_to "About", "/about"
