.navbar.navbar-static-top
  .navbar-inner
    .container
      .social-icons.pull-right
        = render "badges"
      %ul.nav
        %li
          %a.logo{:title => "Siddick"}
            %i.icon-beaker.icon-large
        = li_link_to "Home",  "/"
        = li_link_to "About", "/about"
